<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Welcome <%= user.first_name %> <%= user.last_name %></h1>
        <p>Email: <%= user.email %></p>
        <p>Phone: <%= user.phone %></p>

        <form action="/logout" method="get">
            <button class="btn btn-danger" type="submit">
                Logout
            </button>
        </form>
    </div>
</body>
</html>